.item {
  display: flex;
  border: 0.5px solid teal;
  margin-bottom: 10px;
  color: crimson;
}

.status {
  /*собственно сам маркер*/

  content: '';
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 0 20px;
  align-self: center;
}

.active {
  composes: status;
  background-color: green;
}
.notActive {
  composes: status;
  background-color: red;
}

.name {
  color: black;
  margin-left: 20px;
}

.percentage {
  color: black;
}
