.transactionHistory {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
}

th {
  font-weight: normal;
  color: #fff;
  padding: 10px 15px;

  border: 1px solid black;
}
td {
  color: #669;
  border-top: 1px solid #e8edff;
  padding: 10px 15px;
  border: 1px solid black;
}

tr:nth-child(2n) {
  background: #e8edff;
}

thead {
  background: #0c53e0;
}

th:first-child,
td:first-child {
  text-align: left;
}
